<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../CSS/landingPage.css">
    <link rel="stylesheet" href="../../CSS/muscleGroupMenu.css">
    <script src="../../JavaScript/xlu-include-file.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Exercise</title>
</head>
<body>
<div>
    <header class = "header" xlu-include-file="header.html">
    </header>
</div>

<section class="imageExerciseByMuscle">
    <section class="setsExerciseMuscle">
        <form id="loginForm" class="addExerciseFormNoInfo">
            <label for="name" id="noInfoFormTitle"><strong>Exercise name</strong></label>
            <input type="text" id="name" name="name" class="inputNameNoInfo" size="30" placeholder="Exercise name">
            <section class="align">
                <div id="muscleSelection"><strong>Muscle</strong></div><span class="material-symbols-outlined">fitness_center</span>
            </section>
            <select class = "selectMuscle" size="1">
                <option value="biceps">Biceps</option>
                <option value="triceps">Triceps</option>
                <option value="shoulders">Shoulders</option>
                <option value="chest">Chest</option>
                <option value="back">Back</option>
                <option value="calves">Calves</option>
                <option value="hamstrings">Hamstrings</option>
                <option value="quadriceps">Quadriceps</option>
            </select>

        </form>
        <div class="inline">
            <button  class="button-filled addNewExercise" onclick="window.location.href='addExerciseFormulary.html'">Add new exercise</button>
            <button  class="no-filled addNewExercise" onclick="window.location.href='addExerciseFormulary.html'">Change exercise photo</button>
        </div>
    </section>
    <img src="../../images/predeterminado.jpg" class="legExtensionImage">
</section>

</body>
<div class = "foot">
    <div xlu-include-file="footer.html"></div>
    <script src="../../JavaScript/addSet.js"> </script>
    <script src="../../JavaScript/removeSet.js"> </script>
</div>
</html>