<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise</title>
    <link rel="stylesheet" href="../../CSS/muscleGroupMenu.css">
    <link rel="stylesheet" href="../../CSS/landingPage.css">
    <link rel="stylesheet" href="../../CSS/homePage.css">
</head>
<body>
<figure class="pectoral">
    <div class="exercisesButtons">
        <button class="removeButton button-filled" onclick="window.location.href='addExerciseFormulary.html'">Add new exercise</button>
    </div>
</figure>
</body>
</html>