<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="../../CSS/landingPage.css">
    <link rel="stylesheet" href="../../CSS/diary.css">
    <meta charset="UTF-8">
    <title>Diary</title>
    <script src="../../JavaScript/xlu-include-file.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
    <div>
        <header>
            <div xlu-include-file="header.html"></div>
        </header>
    </div>
    <div class="days"></div>
        <div class="day1">
            <i class="fa-solid fa-bars fa-2x day1Bars"></i>
            <a href="exercisesByMuscle.html" class="fa-solid fa-circle-play fa-3x day1Circle"></a>
            <p class="day1Text">Workout 1</p>
            <p class="day1Exercises">5 exercises - 60 min</p>
        </div>
        <div class="day2">
            <i class="fa-solid fa-bars fa-2x day2Bars"></i>
            <a href="exercisesByMuscle.html" class="fa-solid fa-circle-play fa-3x day2Circle"></a>
            <p class="day2Text">Workout 2</p>
            <p class="day2Exercises">6 exercises - 90 min</p>
        </div>
        <div class="day3">
            <i class="fa-solid fa-bars fa-2x day3Bars"></i>
            <a href="exercisesByMuscle.html" class="fa-solid fa-circle-play fa-3x day3Circle"></a>
            <p class="day3Text">Workout 3</p>
            <p class="day3Exercises">6 exercises - 90 min</p>
        </div>
        <div class="newDay">
            <a href="exercisesByMuscle.html" class="fa-solid fa-circle-plus fa-3x newDayCircle"></a>
            <p class="newDayText">Add a new workout</p>
        </div>
    <div class="divWeekPlan">
        <p class="weekPlan">This week's plan</p>
        <div class="monday">
            <p class="mondaytext">Monday</p>
            <p class="excerciseMonday">Leg day</p>
            <img src="../../images/legDay.png" class="imageMonday" alt="Imagen del Lunes">
        </div>
        <div class="tuesday">
            <p class="tuesdaytext">Tuesday</p>
            <p class="excerciseTuesday">Rest day</p>
            <img src="../../images/restDay.png" class="imageTuesday" alt="Imagen del Martes">
        </div>
        <div class="wednesday">
            <p class="wednesdaytext">Wednesday</p>
            <p class="excerciseWednesday">Chest day</p>
            <img src="../../images/chestDay.png" class="imageWednesday" alt="Imagen del Miercoles">
        </div>
        <div class="thursday">
            <p class="thursdaytext">Thursday</p>
            <p class="excerciseThursday">Rest day</p>
            <img src="../../images/restDay.png" class="imageThursday" alt="Imagen del Jueves">
        </div>
        <div class="friday">
            <p class="fridaytext">Friday</p>
            <p class="excerciseFriday">Arm day</p>
            <img src="../../images/armDay.png" class="imageFriday" alt="Imagen del Viernes">
        </div>
        <div class="saturday">
            <p class="saturdaytext">Saturday</p>
            <p class="excerciseSaturday">Back day</p>
            <img src="../../images/backDay.png" class="imageSaturday" alt="Imagen del Sabado">
        </div>
        <div class="sunday">
            <p class="sundaytext">Sunday</p>
            <p class="excerciseSunday">Rest day</p>
            <img src="../../images/restDay.png" class="imageSunday" alt="Imagen del Domingo">
        </div>
    </div>
    <footer xlu-include-file="footer.html">
    </footer>
</body>
</html>