<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="../../CSS/landingPage.css">
    <link rel="stylesheet" href="../../CSS/diary.css">
    <meta charset="UTF-8">
    <title>Diary</title>
    <script src="xlu-include-file.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
    <div>
        <header class="header">
            <div xlu-include-file="header.html"></div>
            <div xlu-include-file="nav.html"></div>
            <div class ="login_register" xlu-include-file="buttonLoginRegister.html"></div>
        </header>
    </div>
    <div>
        <h1 class="name">Hello, Name Surname Surname</h1>
    </div>
    <div>
        <i class="fa-solid fa-bars fa-2x day1Bars"></i>
        <a href="https://www.youtube.com/watch?v=wZ4tNPnITeI" class="fa-solid fa-circle-play fa-3x day1Circle"></a>
        <p class="day1">Workout 1</p>
        <p class="day1Exercises">5 exercises - 60 min</p>
    </div>
    <div>
        <i class="fa-solid fa-bars fa-2x day2Bars"></i>
        <a href="https://www.youtube.com/@mr.calcio325" class="fa-solid fa-circle-play fa-3x day2Circle"></a>
        <p class="day2">Workout 2</p>
        <p class="day2Exercises">6 exercises - 90 min</p>
    </div>
    <div>
        <i class="fa-solid fa-bars fa-2x day3Bars"></i>
        <a href="https://www.youtube.com/watch?v=UhG9hqRDy8M" class="fa-solid fa-circle-play fa-3x day3Circle"></a>
        <p class="day3">Workout 3</p>
        <p class="day3Exercises">6 exercises - 90 min</p>
    </div>
    <div class="newDay">
        <a href="https://www.freecodecamp.org/espanol/news/como-anadir-los-iconos-de-font-awesome-a-tus-botones/" class="fa-solid fa-circle-plus fa-3x newDayCircle"></a>
        <p class="newDayText">Add a new workout</p>
    </div>
    <div>
        <p class="weekPlan">This week's plan</p>
        <div class="monday">
            <p class="mondaytext">Monday</p>
            <p class="excerciseMonday">Leg day</p>
        </div>

    </div>

</body>
</html>