<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="../../CSS/landingPage.css">
    <link rel="stylesheet" href="../../CSS/diary.css">
    <meta charset="UTF-8">
    <title>Diary</title>
    <script src="xlu-include-file.js"></script>

</head>
<body>
    <div>
        <header class="header">
            <div xlu-include-file="header.html"></div>
            <div xlu-include-file="nav.html"></div>
            <div class ="login_register" xlu-include-file="buttonLoginRegister.html"></div>
        </header>
    </div>
    <div>
        <h1 class="name">Hello, Name Surname Surname</h1>
    </div>
    <div>
        <i class="fa-solid fa-bars"></i>
        <p class="day1">Day 1 / Legs</p>
    </div>


</body>
</html>