<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../CSS/muscleGroupMenu.css">
    <link rel="stylesheet" href="../../CSS/landingPage.css">
    <meta charset="UTF-8">
    <title>List of exercises</title>
    <script src="xlu-include-file.js"></script>
</head>
    <body>
        <div>
            <header class = "header">
                <div xlu-include-file="header.html"></div>
                <div xlu-include-file="nav.html"></div>
                <div class ="login_register" xlu-include-file="buttonLoginRegister.html"></div>
            </header>
        </div>

    <div class="divExercises">
        <p class="exercises">Exercises</p>
        <img onclick="window.location.href='exerciseByMuscle.html'" src="../../images/pectoral.png" class="pectoralImagen" alt="Imagen de Pectoral">
        <p class="pectoral">Exercise</p>
        <img onclick="window.location.href='exerciseByMuscle.html'" src="../../images/pectoral.png" class="espaldaImagen" alt="Imagen de Espalda">
        <p class="espalda">Exercise</p>
        <img onclick="window.location.href='exerciseByMuscle.html'" src="../../images/pectoral.png" class="isquioImagen" alt="Imagen de Isquiotibial">
        <p class="isquiotibial">Exercise</p>
        <img onclick="window.location.href='exerciseByMuscle.html'" src="../../images/pectoral.png" class="tricepsImagen" alt="Imagen de Triceps">
        <p class="triceps">Exercise</p>
        <img onclick="window.location.href='exerciseByMuscle.html'" src="../../images/pectoral.png" class="bicepsImagen" alt="Imagen de Biceps">
        <p class="biceps">Exercise</p>
        <img onclick="window.location.href='exerciseByMuscle.html'" src="../../images/pectoral.png" class="hombrosImagen" alt="Imagen de Hombros">
        <p class="hombros">Exercise</p>
        <img onclick="window.location.href='exerciseByMuscle.html'" src="../../images/pectoral.png" class="cuadricepsImagen" alt="Imagen de Cuadriceps">
        <p class="cuadriceps">Exercise</p>
        <img onclick="window.location.href='exerciseByMuscle.html'" src="../../images/pectoral.png" class="gemeloImagen" alt="Imagen de Gemelos">
        <p class="gemelos">Exercise</p>
    </div>
    </body>

    <div class = "foot">
        <div xlu-include-file="footer.html"></div>
    </div>
</html>