<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise</title>
    <link rel="stylesheet" href="../../CSS/muscleGroupMenu.css">
    <link rel="stylesheet" href="../../CSS/landingPage.css">
    <link rel="stylesheet" href="../../CSS/homePage.css">
</head>
<body>
<figure class="pectoral">
    <figcaption>Exercise</figcaption>
    <img onclick="window.location.href='exerciseByMuscle.html'" src="../../images/pectoral.png" class="pectoralImagen" alt="Imagen de Pectoral">
    <div class="exercisesButtons">
        <button class="removeButton button-filled">Remove exercise</button>
        <button class="editButton button-filled">Edit exercise</button>
    </div>
</figure>
</body>
</html>