<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../CSS/landingPage.css">
    <link rel="stylesheet" href="../../CSS/muscleGroupMenu.css">
    <script src="xlu-include-file.js"></script>
    <title>Exercise</title>
</head>
    <body>
        <div>
            <header xlu-include-file="header.html">
            </header>
        </div>

    <div class="dayAndExercise">
        <h1>Day 1 /Legs</h1>
    </div>
    <div class="restTime">
        <p><span class="bold">Rest time</span> 180s</p>
    </div>



    <div class="imageExerciseByMuscle">
        <div class="setsExerciseMuscle">
            <div xlu-include-file="sets.html"></div>
            <div xlu-include-file="sets.html"></div>
            <div xlu-include-file="sets.html"></div>
            <div xlu-include-file="sets.html"></div>
        </div>
        <img src="../../images/legExtension.webp" class="legExtensionImage">
    </div>


    </body>

    <div class = "foot">
        <div xlu-include-file="footer.html"></div>
    </div>
</html>