<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../CSS/muscleGroupMenu.css">
    <link rel="stylesheet" href="../../CSS/landingPage.css">
    <link rel="stylesheet" href="../../CSS/homePage.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of exercises</title>
    <script src="../../JavaScript/xlu-include-file.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../JavaScript/showExercise.js"></script>


</head>
<body>
    <header class = "header" xlu-include-file="header.html">
    </header>
    <main class="exercisesDisplay">
        <header class="exercises">
            <h1 id="headerExercises">
                Your Exercises
            </h1>
        </header>
        <section class = addYourExerciseDynamic>
            <section id="addYourExercise" class = addYourExerciseDynamic>

            </section>
        </section>
    </main>
    <footer xlu-include-file="footer.html"></footer>

</body>

</html>