<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise</title>
    <link rel="stylesheet" href="../../CSS/muscleGroupMenu.css">
    <link rel="stylesheet" href="../../CSS/landingPage.css">
    <link rel="stylesheet" href="../../CSS/homePage.css">
</head>
<body>
<figure class="removeEditExercise">
    <p><strong>Exercise Name</strong></p>
    <img onclick="window.location.href='exerciseByMuscle.html'" src="../../images/pectoral.png" class="small-image" alt="Imagen de Pectoral">
    <div class="exercisesButtons">
        <button class="removeButton button-filled">Remove</button>
        <button class="editButton button-filled">Edit</button>
    </div>
</figure>
</body>
</html>