<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../CSS/footer.css">
    <title>footer</title>
</head>
    <body>
        <footer class="defaultFooter">
            <aside class="allRightsReserved">
                @2024 GymDiary, All Rights Reserved
            </aside>
            <section class="socialMediaIcons">
                <img class="iconImage" src="../../images/x_icon.webp" alt="X">
                <img class="iconImage" src="../../images/instagram_icon.png" alt="Instagram">
                <img class="iconImage" src="../../images/facebook_icon.png" alt="Facebook">
            </section>
        </footer>
    </body>
</html>