<!DOCTYPE html>

<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../CSS/landingPage.css">
        <script src="../../JavaScript/xlu-include-file.js"></script>
        <title class ="logo">GymDiary</title>
    </head>
    <body>
        <header xlu-include-file="landingPageHeader.html">
        </header>
        <main class="defaultMain">
            <div class = "mid_home">
                <h1 class = "title_home">Track Your Gym Progress</h1>
                <button class = "button-filled"  onclick="window.location.href='Register.html'">Get Started</button>
            </div>
            <section class = "specification">
                <div class = "box-spec">
                    <div  class = "sp1">
                        <p class="p1">Some text about specification</p>

                    </div>

                    <div class = "sp2">
                        <p class="p2">Some text about specification</p>
                    </div>

                    <div class = "sp4">
                        <p class="p1">Some text about specification</p>
                    </div>

                    <div class = "sp3">
                        <p class="p2">Some text about specification</p>
                    </div>
                </div>
            </section>
        </main>
        <footer xlu-include-file="footer.html">
        </footer>
    </body>
</html>