<!DOCTYPE html>

<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../CSS/landingPage.css">
        <script src="xlu-include-file.js"></script>
        <title class ="logo">GymDiary</title>
    </head>
    <body>
        <header xlu-include-file="landingPageHeader.html">
            <div xlu-include-file="buttonLoginRegister.html"></div>
        </header>
        <div class = "mid_home">
            <h1 class = "title_home">Track Your Gym Progress</h1>
            <button class = "button-filled"  onclick="window.location.href='Register.html'">Get Started</button>
            <button class = "no-filled" onclick="window.location.href='learnMore.html'">Learn More -></button>
        </div>
        <div class = "specification">
            <div class = "box-spec">
                <div  class = "sp1">
                    <p class="p1">Some text about specification</p>

                </div>

                <div class = "sp2">
                    <p class="p2">Some text about specification</p>
                </div>

                <div class = "sp4">
                    <p class="p1">Some text about specification</p>
                </div>

                <div class = "sp3">
                    <p class="p2">Some text about specification</p>
                </div>
            </div>

        </div>

        <div class = "foot">
            <div xlu-include-file="footer.html"></div>
        </div>

    </body>
</html>