<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Incluir Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Tus estilos personalizados -->
    <link rel="stylesheet" href="../../CSS/landingPage.css">
    <link rel="stylesheet" href="../../CSS/profile.css">
    <!-- Scripts -->
    <script src="../../JavaScript/xlu-include-file.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
</head>
<body>
<header xlu-include-file="landingPageHeader.html">
    <div xlu-include-file="buttonLoginRegister.html"></div>
</header>
<main class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <section class="title_login">
                <header>
                    <h1 class="defaultH1">Login</h1>
                </header>
                <div class="having_account">
                    <button class="no-filled" onclick="window.location.href='Register.html'">Don't have an account</button>
                    <button class="button-filled" onclick="window.location.href='Login.html'">Already have an account</button>
                </div>
            </section>
            <section class="form_login">
                <form>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Write your email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Write your password" required>
                    </div>
                    <div class="errorMessage"></div>
                    <div class="form-group">
                        <input class="btn button-filled btn-block button-login" type="submit" value="Login">
                    </div>
                </form>
            </section>
        </div>
    </div>
</main>
<footer xlu-include-file="footer.html"></footer>
<script type="module" src="../../JavaScript/login.js"></script>
</body>
</html>
