<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../CSS/landingPage.css">
    <link rel="stylesheet" href="../../CSS/profile.css">
    <script src="../../JavaScript/xlu-include-file.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <title>Login</title>
</head>
<body>
    <header xlu-include-file="landingPageHeader.html">
        <div xlu-include-file="buttonLoginRegister.html"></div>
    </header>
    <main class="defaultMain">
        <section class = "title_login">
            <header>
                <h1 class="defaultH1">Login</h1>
            </header>
            <div class = "having_account">
                <button class="no-filled" onclick="window.location.href='Register.html'">Don´t have an account</button>
                <button class = "button-filled" onclick="window.location.href='Login.html'">Already have an account</button>
            </div>
        </section>
        <section class="form_login">
            <form>
                <div class="email">
                    <label for="email">Email</label><br>
                    <input type="email" id="email" name="email"  placeholder="Write your email" required ><br>
                </div>
                <div class="password">
                    <label for="password">Password</label><br>
                    <input type="password" id="password" name="password" placeholder="Write your password" required><br>
                </div>
                <div class="errorMessage"></div>
                <div>
                    <input class="button-filled button-login" type="submit" value="Login">
                </div>
            </form>
        </section>
    </main>
    <footer xlu-include-file="footer.html"></footer>
    <script type="module" src="../../JavaScript/login.js"></script>
</body>
</html>