<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../CSS/landingPage.css">
    <link rel="stylesheet" href="../../CSS/muscleGroupMenu.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercises</title>
    <script src="../../JavaScript/xlu-include-file.js"></script>
</head>
<body>
    <header class = "header" xlu-include-file="header.html">
    </header>
    <main class="defaultMain">
        <header class="exercises">
            <h1 id="headerExercises">
                Exercises
            </h1>
        </header>
        <section class="divExercises">
            <figure class="pectoral">
                <figcaption>Pectoral</figcaption>
                <img onclick="window.location.href='exercisesByMuscle.html'" src="../../images/pectoral.png" alt="Imagen de Pectoral">
            </figure>

            <figure class="espalda">
                <figcaption>Back</figcaption>
                <img onclick="window.location.href='exercisesByMuscle.html'" src="../../images/espalda.png"  alt="Imagen de Espalda">
            </figure>

            <figure class="isquiotibial">
                <figcaption>Hamstring</figcaption>
                <img onclick="window.location.href='exercisesByMuscle.html'" src="../../images/isquio.png" alt="Imagen de Isquiotibial">
            </figure>

            <figure class="triceps">
                <figcaption>Triceps</figcaption>
                <img class="tricepsImg" onclick="window.location.href='exercisesByMuscle.html'" src="../../images/triceps.png" alt="Imagen de Triceps">
            </figure>

            <figure  class="biceps">
                <figcaption>Biceps</figcaption>
                <img onclick="window.location.href='exercisesByMuscle.html'" src="../../images/biceps.png" alt="Imagen de Biceps">
            </figure>

            <figure class="hombros">
                <figcaption>Shoulders</figcaption>
                <img onclick="window.location.href='exercisesByMuscle.html'" src="../../images/hombros.png"  alt="Imagen de Hombros">

            </figure>

            <figure class="cuadriceps">
                <figcaption>Quadriceps</figcaption>
                <img onclick="window.location.href='exercisesByMuscle.html'" src="../../images/cuadriceps.png" alt="Imagen de Cuadriceps">
            </figure>

            <figure class="gemelos">
                <figcaption>Calf</figcaption>
                <img onclick="window.location.href='exercisesByMuscle.html'" src="../../images/gemelos.png" alt="Imagen de Gemelos">
            </figure>
        </section>
    </main>
    <footer xlu-include-file="footer.html"></footer>
</body>
</html>