<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../CSS/landingPage.css">
    <link rel="stylesheet" href="../../CSS/muscleGroupMenu.css">
    <meta charset="UTF-8">
    <title>Exercises</title>
    <script src="xlu-include-file.js"></script>
    </head>
    <body>
        <div>
            <header class="header" xlu-include-file="header.html">
            </header>
        </div>

        <p class="exercises">Exercises</p>
        <div class="divExercises">
            <div class="pectoral">
                <p>Pectoral</p>
                <img onclick="window.location.href='exercisesByMuscle.html'" src="../../images/pectoral.png" alt="Imagen de Pectoral">
            </div>

            <div class="espalda">
                <p>Espalda</p>
                <img onclick="window.location.href='exercisesByMuscle.html'" src="../../images/espalda.png"  alt="Imagen de Espalda">
            </div>

            <div class="isquiotibial">
                <p>Isquiotibial</p>
                <img onclick="window.location.href='exercisesByMuscle.html'" src="../../images/isquio.png" alt="Imagen de Isquiotibial">
            </div>

            <div class="triceps">
                <p>Triceps</p>
                <img onclick="window.location.href='exercisesByMuscle.html'" src="../../images/triceps.png" alt="Imagen de Triceps">
            </div>

            <div  class="biceps">
                <p>Biceps</p>
                <img onclick="window.location.href='exercisesByMuscle.html'" src="../../images/biceps.png" alt="Imagen de Biceps">
            </div>

            <div class="hombros">
                <p>Hombros</p>
                <img onclick="window.location.href='exercisesByMuscle.html'" src="../../images/hombros.png"  alt="Imagen de Hombros">

            </div>

            <div class="cuadriceps">
                <p>Cuadriceps</p>
                <img onclick="window.location.href='exercisesByMuscle.html'" src="../../images/cuadriceps.png" alt="Imagen de Cuadriceps">
            </div>

            <div class="gemelos">
                <p>Gemelos</p>
                <img onclick="window.location.href='exercisesByMuscle.html'" src="../../images/gemelos.png" alt="Imagen de Gemelos">
            </div>


        </div>

    </body>
    <div class = "foot">
        <div xlu-include-file="footer.html"></div>
    </div>
</html>