<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../CSS/landingPage.css">
    <title>nav</title>
</head>
    <body>
        <nav>
            <ul>
                <li><a href="landingPage.html">Home</a></li>
                <li><a href="muscleGroupMenu.html">Exercises</a></li>
                <li><a href="diary.html">Diary</a></li>
                <li><a href="progress.html">Progress</a></li>
                <li><a href="profile.html">Profile</a></li>
            </ul>

        </nav>
    </body>
</html>