<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../CSS/landingPage.css">
    <link rel="stylesheet" href="../../CSS/homePage.css">
    <link rel="stylesheet" href="../../CSS/profile.css">
    <script src="../../JavaScript/xlu-include-file.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="../../JavaScript/sessionStorageUtils.js"></script>
    <script src="../../JavaScript/profile.js"></script>
    <title>User Profile</title>
</head>
<body>
    <header class="header" xlu-include-file="header.html">
    </header>
    <main class="profileMainContent">
        <section class="userProfile">
            <figure class="profileImgContainer">
                <img id="profilePicture" src="../../images/User%20Icon%20Profile.png" alt="Profile Picture">
                <figcaption id="changeProfilePicButton">
                    <button class="button-filled">
                        Change Pic
                    </button>
                </figcaption>
            </figure>
            <section class="userImportantData">
                <header id="profileHeader">
                    <h1 class="defaultH1">
                        Name Surname Surname
                    </h1>
                </header>
                <section class="userInformation">
                    <ul class="userComplexionList">
                        <li><strong>Gender: </strong> <span id="gender">Male/Female/Other</span></li>
                        <li><strong>Height: </strong> <span id="height">1,80m/5'11</span></li>
                        <li><strong>Weight: </strong> <span id="weight">85kg/187lbs</span></li>
                        <li><strong>Birthdate: </strong> <span id="birthdate">23/01/01 (23)</span></li>
                    </ul>
                </section>
                <section class="userInformation">
                    <header id="userMailPassword">
                        <h2 class="accountCredentials">
                            Account credentials
                            <img id="editCredentials" src="../../images/icons/edit_icon.svg">
                        </h2>
                    </header>
                    <form class="emailPasswordChange">
                        <ul class="userCredentialsList">
                            <li><strong>Username: </strong><span id="username">username1</span></li>
                            <li><strong>Email: </strong><span id="email">user@email.com</span></li>
                        </ul>
                        <form>
                            <div>
                                <label></label>
                                <input>
                            </div>
                        </form>
                    </form>
                </section>
            </section>
        </section>
    </main>
    <footer xlu-include-file="footer.html"></footer>
</body>
</html>