<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../CSS/landingPage.css">
    <link rel="stylesheet" href="../../CSS/progress.css">
    <script src="xlu-include-file.js"></script>
    <title>Progress</title>
</head>
<body>
    <header class="header">
        <div xlu-include-file="header.html"></div>
    </header>
    <!-- Título principal -->
    <header class = "mainHeader">
        <h1 id="progressTitle">
            Your Progress
        </h1>
    </header>
    <main>
        <div class="image-container">
            <img src="../../images/progressImage2.jpg" alt="Image Description" class="small-image left-image">
            <img src="../../images/progressImage2.jpg" alt="Image Description" class="small-image right-image">
        </div>
        <!-- Sección Gráficas -->
        <div class="subtitle-containerProgress">
            <h2 class="left-subtitle">Your Weight</h2>
            <h2 class="right-subtitle">Workouts </h2>
        </div>
        <div class="subtitle-containerProgress">
            <img src="../../images/defaultImage.png" alt="Default weight progress Image">
            <img src="../../images/defaultImage.png" alt="Default weight progress Image">
        </div>
        <div class="subtitle-containerProgress">
            <h2 class =subtitleProgressUnderneath>Your Change</h2>
        </div>
        <div class="subtitle-containerProgress">
            <img class = "progressImage" src="../../images/your%20change.png" alt="Default weight progress Image">
        </div>
    </main>



<!-- Pie de página -->
<div class="foot">
    <div xlu-include-file="footer.html"></div>
</div>
</body>
</html>
