<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../CSS/landingPage.css">
    <link rel="stylesheet" href="../../CSS/progress.css">
    <script src="../../JavaScript/xlu-include-file.js"></script>
</head>
<body>
<header>
    <div xlu-include-file="header.html"></div>
</header>

<!-- Título principal -->
<header class="mainHeader text-center">
    <h1 id="progressTitle">
        Your Progress
    </h1>
</header>

<main>
    <section class="container-fluid containerProgress">
        <section class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="left-subtitle">Your Graphics</h2>
                <select class="form-control">
                    <option>
                        Weight
                    </option>
                    <option>
                        Height
                    </option>
                    <option>
                        Help me!
                    </option>
                </select>
            </div>
        </section>
    </section>
    <!-- Sección Gráficas -->
</main>

<footer class="progressFooter" xlu-include-file="footer.html"></footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
