<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <!-- Incluir Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Tus estilos personalizados -->
    <link rel="stylesheet" href="../../CSS/register.css">
    <link rel="stylesheet" href="../../CSS/landingPage.css">
    <!-- Scripts -->
    <script src="../../JavaScript/register.js"></script>
    <script src="../../JavaScript/xlu-include-file.js"></script>
</head>
<body>
<header xlu-include-file="landingPageHeader.html"></header>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Pestañas -->
            <ul class="nav nav-tabs mb-3 justify-content-center" id="registerTabs" role="tablist">
                <li class="nav-item jus">
                    <a class="nav-link active"  id="personal-tab" data-toggle="tab" href="#personal" role="tab" aria-controls="personal" aria-selected="true">
                        1
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="account-tab" data-toggle="tab" href="#account" role="tab" aria-controls="account" aria-selected="false">
                        2
                    </a>
                </li>
            </ul>
            <!-- Contenido de las pestañas -->
            <div class="tab-content" id="registerTabsContent">
                <!-- Pestaña de datos personales -->
                <div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="personal-tab">
                    <h2 class="title_home">Personal Information</h2>
                    <!-- Formulario de datos personales -->
                    <form class="register_data" id="personalForm" onsubmit="return false">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Write your name" required>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Write your last name" required>
                        </div>
                        <div class="form-group">
                            <label for="birthday">Birthday</label>
                            <input type="date" class="form-control" id="birthday" name="birthday" required>
                        </div>
                        <!-- Botón de navegación a la siguiente pestaña -->
                        <button class="btn btn-primary btn-block" type="button" onclick="validInformation()">Next</button>
                    </form>
                </div>
                <!-- Pestaña de datos de cuenta -->
                <div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="account-tab">
                    <h2 class="title_home">Account Information</h2>
                    <!-- Formulario de datos de cuenta -->
                    <form class="register_data" onsubmit="return validRegister()">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Write your email" required>
                        </div>
                        <div class="form-group">
                            <label for="registerPassword">Password</label>
                            <input type="password" class="form-control" id="registerPassword" name="registerPassword" placeholder="Write your password" required>
                        </div>
                        <!-- Botón de submit para enviar el formulario -->
                        <div class="form-group text-center">
                            <input class="btn btn-primary btn-block" type="submit" value="Register">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<footer xlu-include-file="footer.html"></footer>
</html>
