<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../../CSS/register.css">
    <link rel="stylesheet" href="../../CSS/landingPage.css">
    <script src="../JavaScript/register.js"></script>
    <script src="xlu-include-file.js"></script>


</head>
<body>
<header xlu-include-file="landingPageHeader.html">
</header>
<div class = "mid_register">
    <h2 class = "title_home">Create account</h2>
</div>

<form class = "register_data" onsubmit="return validRegister()">

    <div  class = "spName">
        <br><label for="name">Name</label><br><br><input type="text" id="name" name="name" placeholder="Write your name" required>
    </div>

    <div class = "spLastName">
        <br><label for="lastName">Last Name</label><br><br><input type="text" id="lastName" name="lastName" placeholder="Write your last name" required>
    </div>

    <div class = "sp6">
        <br><label for="birthday">Birthday</label><br><br>
        <input type="date" id="birthday" name="birthday" required><br>
    </div>

    <div class="sp5">
        <br><label for="birthday">Gender<br><br>
        <select name="Gender" id="gender" required>
            <option value="" disabled selected>Select</option>
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
        </select>
    </label><br><br>
    </div>

    <div class = "spEmail">
        <label for="email">Email</label><br><br><input type="email" id="email" name="email" placeholder="Write your email" required>
    </div>

    <div class = "spPass">
        <br><label for="registerPassword">Password</label><br><br><input type="password" id="registerPassword" name="registerPassword" placeholder="Write your password" required>
    </div>

    <div class = "But">
        <br><br><input class="press-button" type="submit" value="Register"><br><br>
    </div>

</form>


</body>
<footer xlu-include-file="footer.html">
</footer>
</html>