<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../../CSS/register.css">
    <link rel="stylesheet" href="../../CSS/landingPage.css">
    <script src="../../JavaScript/xlu-include-file.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
</head>

<body>
    <header xlu-include-file="landingPageHeader.html"></header>
    <div class = "mid_register">
        <h2 class = "title_home">Create account</h2>
    </div>
    <form class = "register_data">
        <div class = "errorMessage"></div>
        <div class = "userName">
            <br><label for="userName">Username</label><br><br>
            <input type="text" id="userName" placeholder="Write your username" name="userName" required>
        </div>

        <div  class = "spName">
            <br><label for="name">Name</label><br><br>
            <input type="text" id="name" placeholder="Write your name" name="firstName" required>
        </div>

        <div class = "spLastName">
            <br><label for="lastName">Last Name</label><br><br>
            <input type="text" id="lastName" placeholder="Write your last name" name="lastName" required>
        </div>

        <div class = "SecondSurname">
            <br><label for="SecondSurname">Second surname</label><br><br>
            <input type="text" id="SecondSurname" placeholder="Write your second surname (Opt)" name="SecondSurname">
        </div>

        <div  class = "spWeight">
            <br><label for="height">Height</label><br><br>
            <input type="text" id="height" placeholder="Write your height (cm)" name="height" required>
            <br><label for="weight">Weight</label><br><br>
            <input type="text" id="weight" placeholder="Write your weight (Kg)" name="weight" required>

        </div>
        <div class = "sp6">
            <br><label for="birthday">Birthdate</label><br><br>
            <input type="date" id="birthday" name="birthdate" required><br>
        </div>
        <div class="sp5">
            <br><label for="birthday">Gender<br>
            <select name="gender" required>
                <option value="" disabled selected>Select</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
        </label><br><br>
        </div>
        <div class = "spEmail">
            <label for="email">Email</label><br><br>
            <input type="text" id="email" placeholder="Write your email" name="email" required>
        </div>
        <div class = "spPass">
            <br><label for="registerPassword">Password</label><br><br>
            <input type="password" id="registerPassword" placeholder="Write your password"  name="password" required>
        </div>
        <br><br>
        <div class="But">
            <input class="register-button" type="submit" value="Register">
        </div>
        <br><br>
        <script src = "../../JavaScript/register.js"></script>
    </form>
<footer xlu-include-file="footer.html">
</footer>
<script>
    xLuIncludeFile();
</script>
</body>
</html>