<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="../../CSS/landingPage.css">
    <link rel="stylesheet" href="../../CSS/resetPassword.css">
    <link rel="stylesheet" href="../../CSS/profile.css">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="xlu-include-file.js"></script>
</head>
    <body>
        <header xlu-include-file="landingPageHeader.html">
            <div xlu-include-file="buttonLoginRegister.html"></div>
        </header>
        <main>
            <section class="resetPasswordHead">
                <h1 class="titleForgot">Forgot Password</h1>
                <p1>Please enter your email and a new password to reset your previous password</p1>

                <form class="resetPassword" onsubmit="return resetPassword()">
                    <label for="email">Email Address</label><br>
                    <input type="email" id="email" placeholder="Write your email" name="name" required><br><br>

                    <label for="password"> New password</label><br>
                    <input type="password" id="password" placeholder="Write a new password" name="password" required><br>

                    <button class="button-filled button-login" type="submit">Submit</button>
                </form>
            </section>
        </main>
        <script src="../../JavaScript/resetPassword.js"></script>
    </body>
</html>