<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../CSS/landingPage.css">
    <title>sets</title>
</head>
<body>
<div class = "setFormulary">
    <label for="rep"  class = "setLabel"><strong>Set 1</strong></label>
    <input class= "inputReps" type = "number" size = "1" id="rep" name="name" step="2" min = "0">
    <label for="name"  >reps x </label>
    <input  class = "inputReps" type="number" size = "1" id="name" name="name" step = "5" min = "0">
    <label>kg</label>
</div>

<div class="reps">
    <p class="repsSet"></p>
</div>
</body>
</html>