<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../CSS/landingPage.css">
    <link rel="stylesheet" href="../../CSS/diary.css">
    <meta charset="UTF-8">
    <title>Workout</title>
    <script src="xlu-include-file.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
    <body>
        <div class="day1">
            <i class="fa-solid fa-bars fa-2x day1Bars"></i>
            <a href="exercisesByMuscle.html" class="fa-solid fa-circle-play fa-3x day1Circle"></a>
            <p class="day1Text">Workout 1</p>
            <p class="day1Exercises">5 exercises - 60 min</p>
        </div>
    </body>
</html>