.name{
    left: 425px;
    top: 50px;
    position: absolute;
}
.day1Bars{
    top: 125px;
    left: 90px;
    position: absolute;
}
.day1Circle{
    top: 115px;
    left: 140px;
    color: black;
    position: absolute;
}
.day1{
    font-size: 20px;
    top: 130px;
    left: 210px;
    position: absolute;
}
.day1Exercises{
    font-size: 20px;
    top: 130px;
    right: 100px;
    position: absolute;
}
.day2Bars{
    top: 195px;
    left: 90px;
    position: absolute;
}
.day2Circle{
    top: 185px;
    left: 140px;
    color: black;
    position: absolute;
}
.day2{
    font-size: 20px;
    top: 200px;
    left: 210px;
    position: absolute;
}
.day2Exercises{
    font-size: 20px;
    top: 200px;
    right: 100px;
    position: absolute;
}
.day3Bars{
    top: 265px;
    left: 90px;
    position: absolute;
}
.day3Circle{
    top: 255px;
    left: 140px;
    color: black;
    position: absolute;
}
.day3{
    font-size: 20px;
    top: 270px;
    left: 210px;
    position: absolute;
}
.day3Exercises{
    font-size: 20px;
    top: 270px;
    right: 100px;
    position: absolute;
}
.newDayCircle{
    top: 335px;
    left: 140px;
    color: black;
    position: absolute;
}
.newDayText{
    font-size: 20px;
    top: 347px;
    left: 210px;
    position: absolute;
}
.newDay{
    margin-top: 100px;
    background-color: #F1DDD9;
    text-align: center;
}
.weekPlan{
    font-size: 20px;
    color: darkblue;
    font-weight: bold;
    top: 420px;
    left: 580px;
    position: absolute;
}
.mondaytext{
    font-size: 20px;
    top: 480px;
    left: 110px;
    font-weight: bold;
    position: absolute;
}
.excerciseMonday{
    font-size: 15px;
    top: 520px;
    left: 117px;
    font-weight: bold;
    position: absolute;
}
.imageMonday{
    top: 550px;
    left: 85px;
    width: 120px;
    position: absolute;
}
.tuesdaytext{
    font-size: 20px;
    top: 480px;
    left: 270px;
    font-weight: bold;
    position: absolute;
}
.excerciseTuesday{
    font-size: 15px;
    top: 520px;
    left: 277px;
    font-weight: bold;
    position: absolute;
}
.imageTuesday{
    top: 550px;
    left: 245px;
    width: 120px;
    position: absolute;

}
.wednesdaytext{
    font-size: 20px;
    top: 480px;
    left: 430px;
    font-weight: bold;
    position: absolute;
}
.excerciseWednesday{
    font-size: 15px;
    top: 520px;
    left: 445px;
    font-weight: bold;
    position: absolute;
}
.imageWednesday{
    top: 550px;
    left: 415px;
    width: 120px;
    position: absolute;
}
.thursdaytext{
    font-size: 20px;
    top: 480px;
    left: 605px;
    font-weight: bold;
    position: absolute;
}
.excerciseThursday{
    font-size: 15px;
    top: 520px;
    left: 617px;
    font-weight: bold;
    position: absolute;
}
.imageThursday{
    top: 550px;
    left: 585px;
    width: 120px;
    position: absolute;
}
.fridaytext{
    font-size: 20px;
    top: 480px;
    left: 780px;
    font-weight: bold;
    position: absolute;
}
.excerciseFriday{
    font-size: 15px;
    top: 520px;
    left: 779px;
    font-weight: bold;
    position: absolute;
}
.imageFriday{
    top: 550px;
    left: 750px;
    width: 120px;
    position: absolute;
}
.saturdaytext{
    font-size: 20px;
    top: 480px;
    left: 915px;
    font-weight: bold;
    position: absolute;
}
.excerciseSaturday{
    font-size: 15px;
    top: 520px;
    left: 925px;
    font-weight: bold;
    position: absolute;
}
.imageSaturday{
    top: 550px;
    left: 895px;
    width: 120px;
    position: absolute;
}
.sundaytext{
    font-size: 20px;
    top: 480px;
    left: 1080px;
    font-weight: bold;
    position: absolute;
}
.excerciseSunday{
    font-size: 15px;
    top: 520px;
    left: 1083px;
    font-weight: bold;
    position: absolute;
}
.imageSunnday{
    top: 550px;
    left: 1045px;
    width: 120px;
    position: absolute;
}