    *{
        font-family: Bricolage Grotesque, Arial;
    }
    body {
        display: flex;
        flex-direction: column;
        margin:0;
    }

    main {
        flex:1;
        width: 100%;
    }



    .day, .newDay {
        margin-top: 1.5em;
        position: relative;
        font-size: 1.3em;
    }



    .dayText, .dayExercises, .newDayText {
        font-size: 1em;
        position: absolute;
    }

    .newDayCircle {
        font-size: 2em;
        color: black;
        margin-top: 0.1em;
        margin-bottom: 0.2em;
        margin-left: 1.3em;
    }

    .dayCircle {
        font-size: 1em;
        color: black;
    }

    .dayBars {
        font-size: 0.5em;
        margin-left: 1em;

    }

    .dayText {
        left: 8em;
        top: 1em;
    }

    .newDayText {
        left: 8em;
        top: 1.5em;
    }

    .dayExercises {
        left: 80%;
        top: 1em;
    }

    @keyframes parpadeo {
        0% { background-color: white; }
        25% { background-color: white; } /* Mantiene el color blanco por m치s tiempo */
        50% { background-color: rgba(201, 184, 249, 0.69); } /* Inicia la transici칩n hacia el color rgba */
        75% { background-color: rgba(201, 184, 249, 0.69); } /* Mantiene el color rgba */
        100% { background-color: white; } /* Completa la transici칩n al color blanco */
    }


    .newDay {
        animation: parpadeo 4s; /* Aplica la animaci칩n al contenedor .day */
    }

    .weekPlan {
        font-size: 1.55em;
        color: darkblue;
        font-weight: bold;
        top: 18em;
        left: 43%;
        position: absolute;
    }

    .divWeekPlan {
        height: 40%;
        padding: 3.5em 3em;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        border-color: black;
    }

    .divWeekPlan img {
        max-width: 10em;
        height: 4em;
        justify-content: space-between;
        display: block;
        margin: 0 auto;
        flex-basis: 1em;
        flex-wrap: wrap;
        box-sizing: border-box;
    }

    .monday, .tuesday, .wednesday, .thursday, .friday, .saturday, .sunday {

        flex-basis: 5em;
        height: 7em;
        padding: 1.55em;
        border-style: solid;
        border-color: black;
        border-radius: 0.5em;
        text-align: center;
        font-size: 1.25em;
    }

    .workoutList {
        display: inline-block;

    }

    .workoutPlan {
        margin-top: 10%;
    }

    .monday {
        animation: parpadeo 4s infinite;
    }

@media only screen and (max-width: 1270px) {
    .sunday {
        display: none;
    }
}
@media only screen and (max-width: 1104px) {
    .saturday{
        display: none;
    }
    .weekPlan {
        left: 40%;
    }
}
@media only screen and (max-width: 935px){
    .friday{
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .thursday{
        display: none;
    }
    .weekPlan {
        left: 38%;
    }
}
@media only screen and (max-width: 600px) {
    .wednesday{
        display: none;
    }
    .weekPlan {
        left: 35%;
    }
}
@media only screen and (max-width: 450px) {
    .dayExercises {
        top: 70%;
        left: 40%;
        font-size: 90%;
    }
    .monday, .tuesday, .wednesday, .thursday, .friday, .saturday, .sunday {
        font-size: 1em;
    }
    .weekPlan {
        left: 30%;
    }
}
