.header {
    margin: 2px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.name{
    left: 425px;
    top: 50px;
    position: absolute;
}
.day1Bars{
    top: 125px;
    left: 90px;
    position: absolute;
}
.day1Circle{
    top: 115px;
    left: 140px;
    color: black;
    position: absolute;
}
.day1{
    font-size: 20px;
    top: 130px;
    left: 210px;
    position: absolute;
}
.day1Exercises{
    font-size: 20px;
    top: 130px;
    right: 100px;
    position: absolute;
}
.day2Bars{
    top: 195px;
    left: 90px;
    position: absolute;
}
.day2Circle{
    top: 185px;
    left: 140px;
    color: black;
    position: absolute;
}
.day2{
    font-size: 20px;
    top: 200px;
    left: 210px;
    position: absolute;
}
.day2Exercises{
    font-size: 20px;
    top: 200px;
    right: 100px;
    position: absolute;
}
.day3Bars{
    top: 265px;
    left: 90px;
    position: absolute;
}
.day3Circle{
    top: 255px;
    left: 140px;
    color: black;
    position: absolute;
}
.day3{
    font-size: 20px;
    top: 270px;
    left: 210px;
    position: absolute;
}
.day3Exercises{
    font-size: 20px;
    top: 270px;
    right: 100px;
    position: absolute;
}
.newDayCircle{
    top: 335px;
    left: 140px;
    color: black;
    position: absolute;
}
.newDayText{
    font-size: 20px;
    top: 347px;
    left: 210px;
    position: absolute;
}
.newDay{
    margin-top: 100px;
    background-color: #F1DDD9;
    text-align: center;
}
.weekPlan{
    font-size: 20px;
    color: darkblue;
    font-weight: bold;
    top: 70%;
    left: 45%;
    position: absolute;
}
.divWeekPlan {
    padding: 64px 48px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
.divWeekPlan img {
    max-width: 90%;
    height: 70%;
    justify-content: space-between;
    display: flex;
    flex-basis: 10%;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.monday, .tuesday, .wednesday, .thursday, .friday, .saturday, .sunday{
    margin-top: 200px;
    flex-basis: 10%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 20px;
    border-color: black;
}
.foot {
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 0px;
 }