.days {

}
.day1, .day2, .day3, .newDay{
    margin-top: 30px;
    position: relative;
    font-size: 20px;
}
.day1Text,.day1Exercises,.day2Text,.day2Exercises,.day3Text,.day3Exercises,.newDayText{
    font-size: 20px;
    position: absolute;

}
.day1Circle, .day2Circle, .day3Circle, .newDayCircle{
    font-size: 25px;
    color: black;

}
.day1Text, .day2Text, .day3Text, .newDayText{
    left: 210px;
    top: 15px;
}
.day1Exercises, .day2Exercises, .day3Exercises{
    right: 100px;
    top: 15px;
}
.newDay{
    background-color: #F1DDD9;
}
.weekPlan{
    font-size: 25px;
    color: darkblue;
    font-weight: bold;
    top: 80%;
    left: 43%;
    position: absolute;
}
.divWeekPlan {
    padding: 64px 48px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    border-color: black;
}
.divWeekPlan img {
    max-width: 90%;
    height: 70%;
    justify-content: space-between;
    display: block;
    margin: 0 auto;
    flex-basis: 10%;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.monday, .tuesday, .wednesday, .thursday, .friday, .saturday, .sunday{

    flex-basis: 10%;
    box-sizing: content-box;
    padding: 23px;
    border-style: solid;
    border-color: black;
    border-radius: 10%;
    text-align: center;
    font-size: 20px;
}
.wednesday{
    background-color: rgba(201, 184, 249, 0.69);
}

/*
.day1Bars{
    top: 125px;
    left: 90px;
    position: absolute;
}
.day1Circle{
    top: 115px;
    left: 140px;
    color: black;
    position: absolute;
}
.day1Text{
    font-size: 20px;
    top: 130px;
    left: 210px;
    position: absolute;
}
.day1Exercises{
    font-size: 20px;
    top: 130px;
    right: 100px;
    position: absolute;
}
.day2Bars{
    top: 195px;
    left: 90px;
    position: absolute;
}
.day2Circle{
    top: 185px;
    left: 140px;
    color: black;
    position: absolute;
}
.day2Text{
    font-size: 20px;
    top: 200px;
    left: 210px;
    position: absolute;
}
.day2Exercises{
    font-size: 20px;
    top: 200px;
    right: 100px;
    position: absolute;
}
.day3Bars{
    top: 265px;
    left: 90px;
    position: absolute;
}
.day3Circle{
    top: 255px;
    left: 140px;
    color: black;
    position: absolute;
}
.day3Text{
    font-size: 20px;
    top: 270px;
    left: 210px;
    position: absolute;
}
.day3Exercises{
    font-size: 20px;
    top: 270px;
    right: 100px;
    position: absolute;
}
.newDayCircle{
    top: 335px;
    left: 140px;
    color: black;
    position: absolute;
}
.newDayText{
    font-size: 20px;
    top: 347px;
    left: 210px;
    position: absolute;
}
.day1, .day2, .day3, .newDay{
    background-color: blue;
}
.newDay{
    background-color: red;
}*/