*{
    font-family: Bricolage Grotesque, Arial;
}

body{
    display: flex;
    flex-direction: column; /* Set flex direction to column to fit containers */
    min-height: 0;
    margin: 0; /* Remove default margin for better fit */
    flex-grow: 1;
    font-family: Bricolage Grotesque, Arial;

}

main {
    flex:1;
    width: 100%;
}

header{
    font-family: Bricolage Grotesque, Arial;
}

.mainHeader{
    width: 100%;
    height: 9em;
    /*Parameters for the background image*/
    background-image: url("../images/headerHome2-cut2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*Display flex with center in justify-content and align items to center the Title of the page*/
    display: flex;
    justify-content: center; /*Align horizontally*/
    align-items: center;    /*Align vertically*/
}

#homePageTitle{
    color: white;
}

#motivationalSpeech{
    height: 4.5em;
    /*Font styling*/
    font-size: 22px;
    font-style: italic;
    font-weight: bold; /*bold*/
    /*Content placing*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.todaysWorkout{
    /*Container characteristics*/
    width: 50%;
    height: 21em;
    float: left;
}

.defaultH2{
    width: 100%;
    height: 20%;
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.userContentArea{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.defaultCaption{
    font-size: 20px;
    font-weight: 500;
    color: #222684;
    text-align: center;

}

.yourProgress{
    /*Container characteristics*/
    width: 50%;
    height: 21em;
    float: right;
}

.progressImage{
    padding-left: 30px;
    padding-right: 30px;
}

.progressImage img{
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.yourExercises{
    width: 50%;
    height: 14em;
    /*Content placing*/
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    /*background*/
    background-image: url("../images/yourExercises3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.yourWorkouts{
    width: 50%;
    height: 14em;
    /*Content placing*/
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    /*background*/
    background-image: url("../images/yourWorkout2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.defaultH3{
    font-size: 24px;
    color: white;
}
#centeredContent {
    display: flex;
    justify-content: center;
    align-items: center;

}


