* {
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
}

h1 {
    font-size: 2em;
    font-family: Bricolage Grotesque, serif;
    font-weight: 700;
    line-height: 150%;

.login {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}


}
.logo {
    color: #080A45;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 25px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.login_register {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

nav {
    text-align: center;
    justify-content: center;
}
nav ul {
    list-style: none;
    margin: 2px;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 15px;
}

nav a{
    text-decoration: none;
    color: #222684;
}


.header {
    margin: 2px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

button {
    border: 0;
    border-radius: 5px;
    padding: 5px 20px;
}

.button-filled {
    background: #080A45;
    color: white;
}

.no-filled {
    background: white;
    color: #080A45;
}
label {
    line-height: 30px;
    border-radius: 5px;
}
.bold {
    font-weight: bold;
}

.button-login {
    margin: 0 auto;
    margin-top: 40px;
    width: 100px;
    height: 25px;
    margin-bottom: 40px;
}
.sets {
    display: flex;
    flex-direction: column;
    float: left;
    margin-bottom: 20px;
}
.repsSet {
    position: relative;
    margin-left: 50px;

}
.imageExerciseByMuscle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
}
.dayAndExercise {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restTime {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.setsExerciseMuscle{
    display: flex;
    flex-direction: column;

}
.title_home {
    color: black;
    font-size: 48px;
    text-align: center;
    font-family: Bricolage Grotesque, serif;
}
.mid_home {
    margin-top: 100px;
    text-align: center;
}

.specification{
    margin-top: 100px ;
    background-color: #F1DDD9;
    text-align: center;
}
.box-spec {
    padding: 64px 48px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;

}
.sp1, .sp2, .sp3, .sp4 {
    flex-basis: 48%;
    margin-bottom: 10px;
    padding: 30px;
    box-sizing: border-box;
}

.sp2 {
    background-color: rgb(216,202,200,0.5);
}
.sp4 {
    background-color: rgb(216,202,200,0.5);
}
footer{
    position: relative;
    bottom: 0;
    align-items: center;
}
.foot {
    margin-top: 100px;

}

.logoNav{
    margin: 0 auto;
    text-align: center;
}
.reservedGym {
    position: absolute;
    left: 0;
}

.logo-footer {
    color: #080A45;
    text-transform: uppercase;
    text-align: center;
}

.title_login {
    margin-top: 100px;
    text-align: center;
}

.having_account{
    margin-top: 50px;
}

.form_login {
    margin-top: 50px;
    background-color: #F1DDD9;
    text-align: center;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 30px;
    margin-top: 8px;
}
.email {
    margin-top: 40px;
}
.password {
    margin-top: 40px;
}
