* {
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
}

.divExercises p {
    font-size: 30px;
    color: black;
    font-weight: bold;
}
.exercises{
    font-size: 40px;
    top: 115px;
    left: 575px;
    position: absolute;
}
.pectoral {
    top: 320px;
    left: 200px;
    position: absolute;
}
.pectoralImagen{
    width: 175px;
    top: 175px;
    left: 175px;
    position: absolute;
}
.espalda {
    top: 320px;
    left: 475px;
    position: absolute;
}
.espaldaImagen{
    width: 150px;
    top: 175px;
    left: 455px;
    position: absolute;
}
.isquiotibial {
    top: 320px;
    left: 725px;
    position: absolute;
}
.isquioImagen{
    width: 115px;
    top: 175px;
    left: 740px;
    position: absolute;
}
.triceps{
    top: 320px;
    right: 200px;
    position: absolute;
}
.tricepsImagen{
    width: 160px;
    top: 175px;
    right: 170px;
    position: absolute;
}
.biceps{
    top: 540px;
    left: 210px;
    position: absolute;
}
.bicepsImagen{
    width: 175px;
    top: 390px;
    left: 170px;
    position: absolute;
}
.hombros{
    top: 540px;
    left: 470px;
    position: absolute;
}
.hombrosImagen{
    width: 145px;
    top: 390px;
    left: 465px;
    position: absolute;
}
.cuadriceps{
    top: 540px;
    left: 730px;
    position: absolute;
}
.cuadricepsImagen{
    width: 115px;
    top: 390px;
    left: 745px;
    position: absolute;
}
.gemelos{
    top: 540px;
    right: 190px;
    position: absolute;
}
.gemeloImagen{
    width: 160px;
    top: 390px;
    right: 165px;
    position: absolute;
}

