* {
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
}

body{
    display: flex;
    flex-direction: column;
}

.divExercises figcaption {
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.divExercises {
    flex: 1;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.exercises{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#headerExercises{
    font-size: 3em;
}

.pectoral, .pectoral, .espalda, .isquiotibial, .triceps, .biceps,  .hombros, .cuadriceps, .gemelos  {
    flex-basis: 25%;
    margin-bottom: 35px;
    box-sizing: border-box;
}

.tricepsImg{
    object-fit: cover;
}

.triceps{
    background: white;
}
