*{
    font-family: Bricolage Grotesque, Arial;
}
body{
    margin:0;
}


.profileMainContent{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profileImgContainer{
    float: left;    /* Make it the left column */
    display: flex;
    flex-direction: column;
    justify-content: center; /*Align horizontally*/
    align-items: center; /*Align vertically*/
    margin: 2em;
    width: 33%;
    border-right: 0.1em solid #cccc
}

#profilePicture{
    padding: 1em;
    width: 23em;
    height: 23em;
}


.userImportantData{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 2em;
}

#profileHeader{
    width: 100%;
    height: 30%;
}

.defaultH1{
    font-size: 3em;
}

#userComplexionData{
    width: 100%;
    height: 70%;
    flex: 1;
}

.userComplexionList{
    margin-top: 1em;
    list-style-type: none;
}

.userComplexionList li{
    padding-bottom: 0.5em;
    font-size: 1.25em;
}


