*:not(input){
    user-select: none;
}

*{
    font-family: Bricolage Grotesque, Arial;
}

body{
    margin:0;
    display: flex;
    flex-direction: column;
}

.profileMainContent{
    /*margin-left: 20em;*/
    width: 100%;
    flex: 1;
}

.profileImgContainer{
    float: left;    /* Make it the left column */
    display: flex;
    flex-direction: column;
    justify-content: center; /*Align horizontally*/
    align-items: center; /*Align vertically*/
    margin: 2em;
    width: 33%;
    border-right: 0.1em solid #cccc
}

#profilePicture{
    object-fit: cover;
    border-radius: 50%;
    padding: 1em;
    width: 23em;
    height: 23em;
}


.userImportantData{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 2em;
}

#profileHeader{
    width: 100%;
    height: 20%;
}

.defaultH1{
    font-family: Bricolage Grotesque, Arial;
    font-size: 3em;
}

.userComplexionData{
    display: flex;
    width: 100%;
    height: 40%;
    flex: 1;
}

.userComplexionList{
    margin-top: 1em;
    margin-bottom: 1em;
    list-style-type: none;
}

.userComplexionList li{
    padding-bottom: 0.5em;
    font-size: 1.25em;
}

.userComplexionList li strong{
    font-weight: bold;
}

.userCredentialsList{
    margin-top: 1em;
    margin-bottom: 1em;
    list-style-type: none;
}

.userCredentialsList li{
    padding-bottom: 0.5em;
    font-size: 1.25em
}

.userInformation{
    margin-top: 0.2em;
}

#accountCredentials{
    font-size: 2em;
}

#userPassword{
    margin-bottom: 1em;
}

.labelInputGroup{
    margin-top: 0.70em;
    font-size: 0.95em;
}

.labelInputGroup div{
    margin-right: 1em;
}

.defaultInput {
    padding: 0.2em;
    border-radius: 0.2em;
    border-width: 0.1em;
}

.changeCredentials{
    transition: opacity 0.3s ease;
}

.changeFieldContainer{
    position: relative;
    margin-bottom: 0.25em;
    height: 3.5em;

    input{
        border: 0;
        border-bottom: 3px solid #dfdfdf;
        outline: none;
    }
    label{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        cursor: text;
        transition: 0.3s ease-in-out;
    }
    input, label {
        font-size: 1em;
        width: 35%;
        height: 3.5em;
    }

    input:focus + label,
    input:valid + label,
    input:not(:placeholder-shown) + .label{
        font-size: 0.75em;
        top: -1.75em;
        pointer-events: none;
    }

    input:focus,
    input:valid{
        border-bottom: 3px solid
    }
}

.submitCancelForm{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#saveChangesButton{
    background: #090b85;
    font-size: 1em;
    color: white;
    width: 7em;
    height: 2em;
    border-radius: 0.45em;
    border-width: 0;
    margin-top: 1em;
    margin-left: 1em;
    transition: background-color 0.3s ease;
}

#saveChangesButton:hover{
    background: #080a45;
}

#cancelButton{
    background: #dfdfdf;
    font-size: 1em;
    color: black;
    width: 7em;
    height: 2em;
    border-radius: 0.45em;
    border-width: 0;
    margin-top: 1em;
    margin-left: 1em;
    transition: background-color 0.3s ease;
}

#cancelButton:hover{
    background: #b7b7b7;
}





