*:not(input){
    user-select: none;
}


body {
    font-family: Arial, serif;
    margin-bottom: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000 ;
}

.mid_register {
    font-family: Arial, serif;
    text-align: center;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}


/* Estilos del formulario de registro */
.register_data {
    font-family: Arial, serif;
    max-width: 100%;
    margin: 0;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilos de los campos del formulario */
label {
    font-weight: normal;
    text-align: left;

}

input[type="text"],

input[type="password"],
select,
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;

}

/* Estilos para el selector de género */
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos para los elementos de dos columnas */
.spName, .spLastName, .spEmail, .spPass, .sp5, .sp6 {
    width: 48%;
    display: inline-block;
    margin-right: 2%;
    box-sizing: border-box;
    text-align: left;
    font-family: Arial, serif;
}

.sp5 select{
    font-family: Arial, serif;
    width: 30%;
    display: inline-block;
    margin-right: 2%;
    box-sizing: border-box;
    text-align: left;
    border: 1px solid black; /* Borde sólido de 2 píxeles de grosor y color negro */
    padding: 5px; /* Espaciado interno para separar el texto del borde */
    font-weight: 0; /* Aplica negrita al texto dentro del label */

}
.spName input {
    font-family: Arial, serif;
    width: 30%;
    text-align: left;
    border: 1px solid black; /* Borde sólido de 2 píxeles de grosor y color negro */
    padding: 5px; /* Espaciado interno para separar el texto del borde */
    font-weight: normal; /* Aplica negrita al texto dentro del label */
}

.spLastName input {
    width: 30%;
    border: 1px solid black; /* Borde sólido de 2 píxeles de grosor y color negro */
    padding: 5px; /* Espaciado interno para separar el texto del borde */
    font-weight: normal; /* Aplica negrita al texto dentro del label */
}

.spEmail input{
    width: 30%;
    border: 1px solid black; /* Borde sólido de 2 píxeles de grosor y color negro */
    padding: 5px; /* Espaciado interno para separar el texto del borde */
    font-weight: normal; /* Aplica negrita al texto dentro del label */
}

.sp6 input{
    width: 30%;
    border: 1px solid black; /* Borde sólido de 2 píxeles de grosor y color negro */
    padding: 5px; /* Espaciado interno para separar el texto del borde */
    font-weight: normal; /* Aplica negrita al texto dentro del label */
}

.spPass input{
    width: 30%;
    border: 1px solid black; /* Borde sólido de 2 píxeles de grosor y color negro */
    padding: 5px; /* Espaciado interno para separar el texto del borde */
    font-weight: normal; /* Aplica negrita al texto dentro del label */
}

/* Limpiar el flotador */
.sp6::after {
    content: "";
    display: table;
    clear: both;
}

.submitForm {
    background-color:  #090b85;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;

}

.submitForm:hover{
    color: white;
    background: #080A45;
}


.press-button button{
    text-align: left;
}

.But button {
    text-align: left;
}

.btnGoBack {
    background: #dfdfdf;
    color: black;
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.btnGoBack:hover{
    background: #b7b7b7;
}

#errorMessageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#errorMessage{
    width: 15em;
    height: 2em;
    color: red;
}