p {
    font-size: 30px;
    color: black;
    font-weight: bold;
}
.Exercises{
    font-size: 40px;
    top: 115px;
    left: 575px;
    position: absolute;
}
.Pectoral {
    top: 320px;
    left: 200px;
    position: absolute;
}
.PectoralImagen{
    width: 175px;
    top: 175px;
    left: 175px;
    position: absolute;
}
.Espalda {
    top: 320px;
    left: 475px;
    position: absolute;
}
.EspaldaImagen{
    width: 150px;
    top: 175px;
    left: 455px;
    position: absolute;
}
.Isquiotibial {
    top: 320px;
    left: 725px;
    position: absolute;
}
.IsquioImagen{
    width: 115px;
    top: 175px;
    left: 740px;
    position: absolute;
}
.Triceps{
    top: 320px;
    right: 200px;
    position: absolute;
}
.TricepsImagen{
    width: 160px;
    top: 175px;
    right: 170px;
    position: absolute;
}
.Biceps{
    top: 540px;
    left: 210px;
    position: absolute;
}
.BicepsImagen{
    width: 175px;
    top: 390px;
    left: 170px;
    position: absolute;
}
.Hombros{
    top: 540px;
    left: 470px;
    position: absolute;
}
.HombrosImagen{
    width: 145px;
    top: 390px;
    left: 465px;
    position: absolute;
}
.Cuadriceps{
    top: 540px;
    left: 730px;
    position: absolute;
}
.CuadricepsImagen{
    width: 115px;
    top: 390px;
    left: 745px;
    position: absolute;
}
.Gemelos{
    top: 540px;
    right: 190px;
    position: absolute;
}
.GemeloImagen{
    width: 160px;
    top: 390px;
    right: 165px;
    position: absolute;
}

