<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="Exercises.css">
    <meta charset="UTF-8">
    <title>Exercises</title>
</head>
<body>
    <p class="Exercises">Exercises</p>
    <p class="Pectoral">Pectoral</p>
    <p class="Espalda">Espalda</p>
    <p class="Isquiotibial">Isquiotibial</p>
    <p class="Triceps">Triceps</p>
    <p class="Biceps">Biceps</p>
    <p class="Hombros">Hombros</p>
    <p class="Cuadriceps">Cuadriceps</p>
    <p class="Gemelos">Gemelos</p>


</body>
</html>