<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="Exercises.css">
    <link rel="stylesheet" href="home.css">
    <meta charset="UTF-8">
    <title>Exercises</title>
    <script src="xlu-include-file.js"></script>
</head>
<body>
    <header>
        <div xlu-include-file="header.html"></div>
        <div xlu-include-file="nav.html"></div>
        <div xlu-include-file="buttonLoginRegister.html"></div>
    </header>
    <p class="Exercises">Exercises</p>
    <img src="Images/pectoral.png" class="PectoralImagen" alt="Imagen de Pectoral">
    <p class="Pectoral">Pectoral</p>
    <img src="Images/espalda.png" class="EspaldaImagen" alt="Imagen de Espalda">
    <p class="Espalda">Espalda</p>
    <img src="Images/isquio.png" class="IsquioImagen" alt="Imagen de Isquiotibial">
    <p class="Isquiotibial">Isquiotibial</p>
    <img src="Images/triceps.png" class="TricepsImagen" alt="Imagen de Triceps">
    <p class="Triceps">Triceps</p>
    <img src="Images/biceps.png" class="BicepsImagen" alt="Imagen de Biceps">
    <p class="Biceps">Biceps</p>
    <img src="Images/hombros.png" class="HombrosImagen" alt="Imagen de Hombros">
    <p class="Hombros">Hombros</p>
    <img src="Images/cuadriceps.png" class="CuadricepsImagen" alt="Imagen de Cuadriceps">
    <p class="Cuadriceps">Cuadriceps</p>
    <img src="Images/gemelos.png" class="GemeloImagen" alt="Imagen de Gemelos">
    <p class="Gemelos">Gemelos</p>


</body>
</html>