<!DOCTYPE html>

<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <title>GymDiary</title>   
    </head>
    <body>
        <div>
            <h1 class = "logo">GYM DIARY</h1>
            <nav class="nav-header">
                <ul>
                    <li>Home</li>
                    <li>Exercises</li>
                    <li>Diary</li>
                    <li>Progress</li>
                    <li>Account</li>
                </ul>

                <button>Login</button>
                <button class = "button-filled">Register</button>

            </nav>
        </div>

        <div>
            <h1 class = "title">Track Your Gym Progress</h1>
            <button class = "button-filled">Get Started</button>
            <button>Learn More -></button>
        </div>


    </body>
</html>