<!DOCTYPE html>

<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <title>GymDiary</title>   
    </head>
    <body>
        <div>
            <h1 class = "title">Track Your Gym Progress</h1>
            <button class = "button-filled">Get Started</button>
            <button>Learn More -></button>
            <div xlu-include-file="header.html"></div>
            <div xlu-include-file="nav.html"></div>
            <div xlu-include-file="buttonLoginRegister.html"></div>
        </div>

        <div class="especification">
            <div>
                <p class="p1">Some text about specification</p>

            </div>

            <div>
                <p class="p2">Some text about specification</p>
            </div>

            <div>
                <p class="p1">Some text about specification</p>
            </div>

            <div>
                <p class="p2">Some text about specification</p>
            </div>

        </div>

        <div class="faqDiv">
            <div class = "container1">
                <h2>Common questions</h2>
                <p>Text above common questions</p>
            </div>

            <div class="container2">
                <h3 class = "question">Some question</h3>
                <p class="response">Some response</p>
            </div>

        </div>

    </body>
</html>