<!DOCTYPE html>

<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="home.css">
        <script src="xlu-include-file.js"></script>
        <title class ="logo">GymDiary</title>
    </head>
    <body>
        <div>
            <header class="header">
                <div xlu-include-file="header.html"></div>
                <div xlu-include-file="nav.html"></div>
                <div xlu-include-file="buttonLoginRegister.html"></div>
            </header>
            <h1 class = "title">Track Your Gym Progress</h1>
            <button class = "button-filled">Get Started</button>
            <button class = "no-filled">Learn More -></button>
        </div>

        <div class="especification">
            <div>
                <p class="p1">Some text about specification</p>

            </div>

            <div>
                <p class="p2">Some text about specification</p>
            </div>

            <div>
                <p class="p1">Some text about specification</p>
            </div>

            <div>
                <p class="p2">Some text about specification</p>
            </div>

        </div>

        <aside class="faqAside">
            <h2>Common questions</h2>
            <p>Text above common questions</p>
        </aside>

            <div xlu-include-file="question.html"></div>
            <div xlu-include-file="question.html"></div>


        <div xlu-include-file="footer.html"></div>
    </body>
</html>