<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nav</title>
</head>
    <body>
        <nav class="nav-header">
            <ul>
                <li><a href="Home.html">Home</a></li>
                <li><a href="Exercises.html">Exercises</a></li>
                <li><a href="Diary.html">Diary</a></li>
                <li><a href="Progress.html">Progress</a></li>
                <li><a href="account.html"></a>Account</li>
            </ul>

        </nav>
    </body>
</html>